
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
color:white;
font-family:Arial;
overflow-x:hidden;
}

.header{
position:fixed;
top:0;
width:100%;
padding:20px 50px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.5);
backdrop-filter:blur(20px);
z-index:1000;
}

.logo{
font-size:25px;
font-weight:bold;
letter-spacing:3px;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
text-transform:uppercase;
font-size:13px;
}

.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=2070') center/cover;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
}

.hero-content{
position:relative;
z-index:10;
text-align:center;
}

.hero-content h1{
font-size:90px;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
margin-bottom:30px;
}

.hero-content button{
padding:18px 50px;
border:none;
background:#c9a227;
color:black;
font-size:18px;
border-radius:50px;
cursor:pointer;
}

.cards{
padding:100px 50px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.card{
background:#111;
padding:40px;
border-radius:30px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}